
//
// VARIABLES
//

// Colors
$blue: #ff2d8b;

// Grays
$black: #000;
$darkerGray: #002aff;
$darkGray: #002aff;
$gray: #f7cff1;
$lightGray: #fbeef9;
$white: #fff;

// Font declarations
@font-face {
  font-family: Planet Kosmos;
  src: url('images/PLANK.woff') format('woff'),
    url('/images/PLANK.TTF') format('truetype');
       
}

// Font stacks
$kosmos: 'Planet Kosmos', 'Playfair Display', Courier, monospace;
$helvetica: 'Work Sans', Helvetica, Arial, sans-serif;
$helveticaNeue: 'Playfair Display', Courier, monospace;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}